@import "tailwindcss";

@theme {
  --color-primary-50: oklch(97% 0.014 254.604);
  --color-primary-100: oklch(93.2% 0.032 255.585);
  --color-primary-300: oklch(80.9% 0.105 251.813);
  --color-primary-500: oklch(62.3% 0.214 259.815);
  --color-primary-600: oklch(54.6% 0.245 262.881);
  --color-primary-700: oklch(48.8% 0.243 264.376);
  --color-primary-800: oklch(42.4% 0.199 265.638);

  --color-contrast-500: oklch(87.68% 0.1664 78.96);
  --color-contrast-600: oklch(81.68% 0.1664 78.96);
  --color-contrast-700: oklch(78.68% 0.1664 78.96);

  --color-border-50: oklch(98.5% 0.002 247.839);
  --color-border-100: oklch(96.7% 0.003 264.542);
  --color-border-200: oklch(92.8% 0.006 264.531);

  --color-text-600: oklch(44.6% 0.03 256.802);
  --color-text-700: oklch(37.3% 0.034 259.733);
  --color-text-900: oklch(21% 0.034 264.665);

  --color-error-100: oklch(93.6% 0.032 17.717);
  --color-error-500: oklch(63.7% 0.237 25.331);
  --color-error-600: oklch(57.7% 0.245 27.325);
  --color-error-700: oklch(50.5% 0.213 27.518);
  --color-error-800: oklch(44.4% 0.177 26.899);

  --color-white: #fff;
  --color-black: #000;
}

/* Base styles */
@layer base {

  /* Usually for Title */
  h1 {
    @apply text-text-900 text-6xl font-extrabold mb-6 mt-2.5;
  }

  /* Usually for Subtitle */
  h2 {
    @apply text-text-700 text-3xl font-medium mb-3 mt-1;
  }

  /* Usually for section headers */
  h3 {
    @apply text-text-700 text-5xl font-bold mb-4 mt-1.5;
  }

  h4 {
    @apply text-text-600 text-3xl font-bold mb-2 mt-1;
  }

  h5 {
    @apply text-text-600 text-2xl font-semibold mb-2 mt-1;
  }

  /* Title of a paragraph or a card */
  h6 {
    @apply text-text-600 text-xl font-bold mb-2 mt-1;
  }

  /* regular text */
  p {
    @apply text-text-600 text-base mb-1.5 mt-1;
  }

  /* Divider */
  hr {
    @apply border-gray-200 my-6;
  }
}

@layer components {}